@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a3l7ie');
  src:  url('fonts/icomoon.eot?a3l7ie#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a3l7ie') format('truetype'),
    url('fonts/icomoon.woff?a3l7ie') format('woff'),
    url('fonts/icomoon.svg?a3l7ie#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share-square-o:before {
  content: "\e900";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-location-arrow:before {
  content: "\f124";
}

