﻿<!DOCTYPE html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="description" content="Все такси Новосибирска. Дешевое такси Новосибирск. Сравнить цены всех такси Новосибирска.">
    <meta name="keywords" content="Новосибирск, Новосиб, Нск, Такси, Дешевое такси, Цены такси">
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="~/css/Home/home.css" rel="stylesheet" type="text/css" asp-append-version="true" />
        <link href="~/icomoon/style.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="html"
              asp-fallback-test-property="font-family"
              asp-fallback-test-value="sans-serif" />
        <link href="~/css/Home/home.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
        <link href="~/icomoon/style.css" rel="stylesheet" type="text/css" />
    </environment>
    <link rel="icon" type="image/jpg" href="~/images/icons/taxiscanner_logo_96x96.jpg" sizes="96x96">
    <title>Такси Новосибирска</title>
</head>

<body>
    <div id="main" class="container fill">
        <div id="map"></div>
        <form id="routeForm" class="container col-lg-4 col-md-5 col-sm-6 col-xs-11 route-show" onsubmit="event.preventDefault(); window.routeForm.search();">
            <div id="routeFormContent">
                <input type="hidden" id="fromLat" name="fromLat" />
                <input type="hidden" id="fromLng" name="fromLng" />
                <input type="hidden" id="toLat" name="toLat" />
                <input type="hidden" id="toLng" name="toLng" />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 id="formHeader">Сравнить такси Новосибирска</h1>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="address">
                            <div class="input-group">
                                <div class="has-feedback has-clear">
                                    <input id="fromInput" class="form-control clearable" type="text" placeholder="Откуда" required tabindex="1" />
                                    <span class="form-control-clear glyphicon glyphicon-remove-circle form-control-feedback hidden -grey"></span>
                                </div>
                                <span class="input-group-btn">
                                    <button id="findMeButton" class="btn btn-default" type="button" title="Найти меня" onclick="window.map.findMe()" tabindex="2">
                                        <span class="icon-location-arrow icon-lg"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="address">
                            <div class="has-feedback has-clear">
                                <input id="toInput" class="form-control clearable" type="text" placeholder="Куда" required tabindex="3" />
                                <span class="form-control-clear glyphicon glyphicon-remove-circle form-control-feedback hidden -grey"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                        <button type="submit" id="priceBtn" class="btn btn-primary" onclick="window.routeForm.formOnSubmit()" tabindex="4"
                                data-loading-text="<i class='glyphicon glyphicon-refresh spin'></i> Сравниваю">
                            Сравнить
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="pricePanel">
                            <div class="row">
                                <div id="clearPrices" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                                    <i class="icon-close" onclick="window.routeForm.clearPrices()"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div id="priceAlerts" class="col-lg-8 col-md-9 col-sm-9 col-xs-10">
                                </div>
                            </div>
                            <div id="prices"></div>
                            <div class="row">
                                <div id="pricesNote" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <ul id="pricesNoteList" class="list-unstyled">
                                        <li><small>~ - приблизительная цена, по счетчику</small></li>
                                        <li><small>*цены указаны для онлайн заказа</small></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="expandIcon" class="row">
                <hr class="hr-style" />
                <i class="icon-chevron-down icon-lg" title="Развернуть"></i>
            </div>
        </form>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/devbridge-autocomplete/dist/jquery.autocomplete.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/log4javascript-1.4.13/js/log4javascript_production_uncompressed.js"></script>
        <script src="~/lib/history.js/scripts/bundled-uncompressed/html5/jquery.history.js"></script>
        <script src="~/lib/signalr/jquery.signalR.js"></script>
        <script src="/signalr/hubs"></script>
        <script src="~/js/Home/home.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"
                asp-fallback-src="~/lib/devbridge-autocomplete/dist/jquery.autocomplete.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.Autocomplete">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/log4javascript-1.4.13/js/log4javascript_production.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.js"
                asp-fallback-src="~/lib/history.js/scripts/bundled/html5/jquery.history.js"
                asp-fallback-test="window.History">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"
                asp-fallback-src="~/lib/signalr/jquery.signalR.min.js"
                asp-fallback-test="$.connection">
        </script>
        <script src="/signalr/hubs"></script>
        <script src="~/js/Home/home.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        function initialize() {
            $(document).ready(function () {
                window.createMap();
                window.createGeocoding();
                window.createStoredAddresses();
                window.createRouteForm();
                window.createHistoryManager();
                window.createTaxiHub(function () { window.historyManager.loadQueryState(); });
                if (!window.historyManager.checkStateValid(window.historyManager.queryState)) {
                    window.map.findMe();
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNoYjZbwpl53LF_4ImesMF9ICy0pXGlZQ&callback=window.initialize&libraries=places" async defer></script>
    <environment names="Production">
        <!-- Yandex.Metrika counter -->
        <script> (function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter42052399 = new Ya.Metrika({ id: 42052399, clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true, trackHash: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42052399" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <!-- Google Analytics counter -->
        <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-90375811-1', 'auto'); ga('send', 'pageview');</script>
        <!-- /Google Analytics counter -->
    </environment>
</body>