﻿html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

#main {
    padding: 0;
    margin: 0;
}

.fill {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.-grey {
    color: #888;
}

.icon-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.spin {
    animation: spin .9s infinite linear;
    transform-origin: 50% 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
