﻿.taxi-price {
    vertical-align: top;
    line-height: 30px;
    margin-top: 3px;
}

    .taxi-price:first-child {
        margin-top: 0 !important;
    }

.circle-name {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: top;
    line-height: 30px;
    color: white;
}

.taxi-name {
    margin-left: 5px;
}
