﻿#routeForm {
    margin: 15px;
    padding: 10px;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    z-index: 1 !important;
}

#formHeader {
    margin-top: 0;
    font-size: 22px;
}

.address {
    margin: 5px 0 5px 0;
}

.yellow-btn {
    background-color: #FCB825 !important;
    border-color: #fca625 !important;
}

#pricePanel {
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    padding: 5px;
}

#clearPrices {
    cursor: pointer;
    float: right;
}

#pricesNote {
    margin-top: 7px;
    color: gray;
}

#pricesNoteList {
    margin-bottom: 0;
}

#routeFormContent {
    transition: max-height 0.4s;
}

#expandIcon {
    cursor: pointer;
    margin: auto;
    display: none;
    text-align: center;
}

.hr-style {
    width: 40%;
    margin: 5px auto 2px auto;
    border-top: 1px solid #ccc;
}

@media(max-height: 650px) {


    #prices {
        max-height: 35vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {

    .route-hide {
        cursor: pointer;
    }

    .route-show #routeFormContent {
        max-height: 1000px;
    }

    .route-hide #routeFormContent {
        max-height: 30px;
        overflow: hidden;
    }

    .route-show #expandIcon {
        display: none;
    }

    .route-hide #expandIcon {
        display: block;
    }
}

::-ms-clear {
    display: none;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

.autocomplete-suggestion-city {
    color: gray;
    font-size: 12px;
}
